<!doctype html>
<html ng-app="app">
<head>
    <meta charset="utf-8">
    <title>Advanced Database Project</title>
    <link href="css/bootstrap.min.css" rel="stylesheet" />
    <link href="css/font-awesome.css" rel="stylesheet" />
    <link href="css/style.css" rel="stylesheet" />
    <!-- Load js dep -->
    <script src="js/lib/angular.min.js"></script>
    <script src="js/lib/jquery-3.1.1.slim.min.js"></script>
    <script src="js/lib/tether.min.js"></script>
    <script src="js/lib/bootstrap.min.js"></script>
    <script src="js/app.js"></script>
    <link href="js/lib/leaflet/leaflet.css" rel="stylesheet" />
    <script src="js/lib/leaflet/leaflet.js"></script>
</head>
<body ng-controller="appController">
    <div class="" style="padding: 50px">
        <div class="row" ng-init="init()">
            <div class="col-lg-7">
                <div class="card">
                    <div class="card-block">
                        <div id="mapid" style="height: 600px;"></div>
                    </div>
                </div>
            </div>
            <div class="col-lg-5"> 
                <div class="card">
                    <div class="card-block">
                        <h2>Search</h2><hr /> 
                        <input type="checkbox" ng-model="buildings" /> Buildings
                        <input type="checkbox" ng-model="onCampus" /> On campus Apartments
                        <input type="checkbox" ng-model="offCampus" /> Off Campus Apartments
                        <input type="checkbox" ng-model="parks" /> Parks 
                        <hr />
                        <div class="form-group">
                            <input type="text" class="form-control"  placeholder="Search">
                        </div>
                        <hr />
                        <button type="button" class="btn btn-secondary" ng-click="search()">Search</button>
                        <button type="button" class="btn btn-secondary" ng-click="clear()">Clear</button>
                    </div>
                </div>
                <br/>
                <div class="card">
                    <div class="card-block"  style="overflow:scroll; height:400px;">
                        <h2>Result</h2><hr /> 
                        <div ng-repeat="r in result"> 
                                <span ng-class="r.type" ng-click="popup(r.name)">{{r.name}}</span> 
                            <br />
                        </div> 
                    </div>
                </div> 
            </div>
        </div>
    </div>
</body>
</html>